<%= form_for @team do |f| %>
  <%= f.hidden_field :league_id %>

  <h4>Team Name</h4>
  <%= f.text_field :name %>
  <br /><br />

  <h4>Optional: Select some of the players below to get started.</h4>
  <p>
    Below are the top 10 highest scoring players. Remember you only have $70,000,000 to spend.
  </p>
  <%= f.collection_check_boxes(:player_ids, Player.highest_scoring_players, :id, :name) do |b| %>
    <%= b.label(:"data-value" => b.value) { b.check_box + b.text } %><br />
  <% end %>
  <br /><br />

  <h4>Optiona: Add a new player to our site.</h4>
  <p>If you can't find the player you want, you can add one. <%= link_to "Click here to see Basketball Reference.", "http://www.basketball-reference.com/leagues/NBA_2016_totals.html" %> Find a player you want on your team, click through to their Basketball Reference profile, and then copy and paste their profile URL into the field below. We'll then automatically pull in all their information including name, position, and stats.</p>
  <%= f.fields_for :players, @team.players.build do |p| %>
    <%= p.text_field :player_url %>
  <% end %>
  <br /><br />
  <%= f.submit %>
<% end %>