      <tr>
        <td><%= link_to team.name, team %></td>
        <td><%= team.owner_name %></td>
        <td><%= team.score %></td>
        <td><%= number_to_currency(team.salary, precision: 0) %></td>
        <td><%= team.efficiency %></td>
      </tr>