<h1><%= @team.name %></h1>
<h3>Score: <%= @team.score %></h3>
<p>Owned by: <%= @team.user.name %></p>
<p>Salary: <%= number_to_currency(@team.salary, precision: 0) %> (<%= number_to_currency(@team.salary_remaining, precision: 0) %> Remaining)</p>
<p>Score Per Million: <%= @team.efficiency %></p>

<h3>Roster</h3>

<% if !!@team.players %>
<table class="table table-striped table-condensed">
  <tr>
    <th>Name</th>
    <th>Status</th>
    <th>Position</th>
    <th>Score</th>  
    <th>Salary</th>
    <% if !current_user.nil? && (current_user == @team.user || current_user.admin?) %>
      <th>Toggle Status</th>
      <th>Drop Player</th>
    <% end %>
  </tr>
  <% @players.each do |player| %>
  <tr>
    <th><%= link_to player.name, player %></th>
    <th><%= player.status(@team) %></th>
    <th><%= player.position %></th>
    <th><%= player.score %></th>
    <th><%= player.salary %></th>
    <% if !current_user.nil? && (current_user == @team.user || current_user.admin?) %>
      <th><%= link_to "Toggle Status", roster_spot_path(player_id: player.id, team_id: @team.id), method: :put, class: "btn btn-primary btn-sm" %></th>
      <th><%= link_to "Drop Player", roster_spot_path(player_id: player.id, team_id: @team.id), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger btn-sm" %></th>
    <% end %>
  </tr>
  <% end %>
</table>

<% else %>
  <p>No players added yet.</p>
<% end %>


<% if !current_user.nil? && (current_user == @team.user || current_user.admin?) %>
  <%= link_to "Edit Team Info", edit_team_path(@team), class: "btn btn-primary" %><br /><br />
  <%= link_to "Delete Team", team_path(@team), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
<% end %>