<h1><%= @team.name %></h1>
<h3>Score: <%= @team.score %></h3>
<p>League: <%= link_to @team.league.name, @team.league unless @team.league.nil? %></p>
<p>Owned by: <%= @team.user.name %></p>
<p>Salary: <%= number_to_currency(@team.salary, precision: 0) %> (<%= number_to_currency(@team.salary_remaining, precision: 0) %> Remaining)</p>
<p>Score Per Million: <%= @team.efficiency %></p>

<h3>Roster</h3>

<% if !!@team.players %>
<table class="table table-striped table-condensed">
  <tr>
    <th>Name</th>
    <th>Status</th>
    <th>Position</th>
    <th>Score</th>  
    <th>Salary</th>
    <% if !current_user.nil? && (current_user == @team.user || current_user.admin?) %>
      <th>Toggle Status</th>
      <th>Drop Player</th>
    <% end %>
  </tr>
  <% @players.zip(@spots).each do |player, spot| %>
  <tr>
    <td><%= link_to player.name, player %></td>
    <td><%= player.status(@team) %></td>
    <td><%= player.position %></td>
    <td><%= player.score %></td>
    <td><%= number_to_currency(player.salary, precision: 0) %></td>
    <% if !current_user.nil? && (current_user == @team.user || current_user.admin?) %>
      <td><%= link_to "Toggle Status", roster_spot_path(spot), method: :put, class: "btn btn-primary btn-sm" %></td>
      <td><%= link_to "Drop Player", roster_spot_path(spot), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger btn-sm" %></td>
    <% end %>
  </tr>
  <% end %>
</table>

<% else %>
  <p>No players added yet.</p>
<% end %>

<%= permitted_links(@team) %>