<tr>
  <td><%= link_to player.name, player %></td>
  <td><%= player.position %></td>
  <td><%= player.score %></td>
  <td><%= number_to_currency(player.salary, precision: 0) %></td>
  <td><%= player.value %></td>
  <td>On <%= pluralize(player.teams.count, 'team') %></td>
  <% if has_team_check? %>
    <td><%= add_player_column(player) %></td>
  <% end %>
</tr>