
<%= link_to "Load Previous Player", player_path(@player.prev || 0), :class => "js-previous btn btn-primary", remote: true, :data => {:id => @player.prev ? @player.prev.id : 0} %>
<%= link_to "Load Next Player", player_path(@player.next || 0), :class => "js-next btn btn-primary", remote: true, :data => {:id => @player.next ? @player.next.id : 0} %>

<h1><%= @player.name %>(<%= @player.position %>)</h1>
<h3>Score: <%= @player.score %></h3>
<p id="salary">Salary: <%= number_to_currency(@player.salary, precision: 0) %></p>
<p id="value">Score Per Million: <%= @player.value %></p>
<p id="team_count">Num of Teams: <%= pluralize(@player.teams.count, 'team') %></p>

<table class="table table-striped table-condensed">
  <tr>
    <th>Points</th>
    <th>Assists</th>
    <th>Rebounds</th>  
    <th>Blocks</th>
    <th>Steals</th>
    <th>Games Played</th>
  </tr>
  <tr>
    <td id="points"><%= @player.points %></td>
    <td id="assists"><%= @player.assists %></td>
    <td id="rebounds"><%= @player.rebounds %></td>
    <td id="blocks"><%= @player.blocks %></td>
    <td id="steals"><%= @player.steals %></td>
    <td id="games_played"><%= @player.games_played %></td>
  </tr>
</table>

<%= permitted_links(@player) %>

<script type="text/javascript">
  $(document).ready(setListeners);

  function setListeners(){
    $(".js-next").on("click", function() {
      loadPlayer("next");
    });

    $(".js-previous").on("click", function() {
      loadPlayer("previous");
    });
  }

  function loadPlayer(direction){
    var id;
    if(direction === "next"){
      id = parseInt($(".js-next").attr("data-id"));
    } else if (direction === "previous"){
      id = parseInt($(".js-previous").attr("data-id"));
    }

    if (id === 0){
      alert("No more players that way!");
      return;
    }

    $.get("/players/" + id + ".json")
      .done(function(data) {
      currentPlayer = new Player(data.player);
      currentPlayer.setInfo();
      history.pushState({}, '', "/players/" + id);      
    });
  }

  function Player(info){
    for(var key in info){
      this[key] = info[key];
    }
  };

  Player.prototype.setInfo = function(){
      $(".js-next").attr("data-id", this.next_id);
      $(".js-previous").attr("data-id", this.prev_id);
      $(".js-next").attr("href", "/players/" + this.next_id);
      $(".js-previous").attr("href", "/players/" + this.prev_id);

      // Set top information
      $("h1").text(this.name + '(' + this.position + ')');
      $("h3").text('Score: ' + this.score);
      $("#salary").text('Salary: $' + this.salary.toLocaleString());
      $("#value").text('Score Per Million: ' + this.value);

      if(this.team_count === 1){
        $("#team_count").text('Num of Teams: ' + this.team_count + " team");
      } else {
        $("#team_count").text('Num of Teams: ' + this.team_count + " teams");
      }

      // Set stats
      $("#points").text(this.points);
      $("#assists").text(this.assists);
      $("#rebounds").text(this.rebounds);
      $("#blocks").text(this.blocks);
      $("#steals").text(this.steals);
      $("#games_played").text(this.games_played);
  }
</script>
