
<%= link_to "Load Previous Player", player_path(@player.prev || 0), :class => "js-previous-player btn btn-primary", remote: true, :data => {:id => @player.prev ? @player.prev.id : 0} %>
<%= link_to "Load Next Player", player_path(@player.next || 0), :class => "js-next-player btn btn-primary", remote: true, :data => {:id => @player.next ? @player.next.id : 0} %>

<h1 id="name"><%= @player.name %>(<%= @player.position %>)</h1>
<h3 id="score">Score: <%= @player.score %></h3>
<p id="salary">Salary: <%= number_to_currency(@player.salary, precision: 0) %></p>
<p id="value">Score Per Million: <%= @player.value %></p>
<p id="team_count">Num of Teams: <%= pluralize(@player.teams.count, 'team') %></p>

<table class="table table-striped table-condensed">
  <tr>
    <th>Points</th>
    <th>Assists</th>
    <th>Rebounds</th>  
    <th>Blocks</th>
    <th>Steals</th>
    <th>Games Played</th>
  </tr>
  <tr>
    <td id="points"><%= @player.points %></td>
    <td id="assists"><%= @player.assists %></td>
    <td id="rebounds"><%= @player.rebounds %></td>
    <td id="blocks"><%= @player.blocks %></td>
    <td id="steals"><%= @player.steals %></td>
    <td id="games_played"><%= @player.games_played %></td>
  </tr>
</table>

<%= permitted_links(@player) %>
