<a href="#" class="js-previous btn btn-primary" data-id="<%= @player.prev ? @player.prev.id : 0 %>">Load Previous Player</a>
<a href="#" class="js-next btn btn-primary" data-id="<%= @player.next ? @player.next.id : 0 %>">Load Next Player</a>

<h1><%= @player.name %>(<%= @player.position %>)</h1>
<h3>Score: <%= @player.score %></h3>
<p id="salary">Salary: <%= number_to_currency(@player.salary, precision: 0) %></p>
<p id="value">Score Per Million: <%= @player.value %></p>
<p id="team_count">Num of Teams: <%= pluralize(@player.teams.count, 'team') %></p>

<table class="table table-striped table-condensed">
  <tr>
    <th>Points</th>
    <th>Assists</th>
    <th>Rebounds</th>  
    <th>Blocks</th>
    <th>Steals</th>
    <th>Games Played</th>
  </tr>
  <tr>
    <td id="points"><%= @player.points %></td>
    <td id="assists"><%= @player.assists %></td>
    <td id="rebounds"><%= @player.rebounds %></td>
    <td id="blocks"><%= @player.blocks %></td>
    <td id="steals"><%= @player.steals %></td>
    <td id="games_played"><%= @player.games_played %></td>
  </tr>
</table>

<%= permitted_links(@player) %>

<script type="text/javascript">
  $(document).ready(setListeners);
  $(document).on('page:load', setListeners);

  function setListeners(){
    $(".js-next").on("click", function() {
      loadPlayer("next");
    });

    $(".js-previous").on("click", function() {
      loadPlayer("previous");
    });
  }

  function loadPlayer(direction){
    var id;
    if(direction === "next"){
      id = parseInt($(".js-next").attr("data-id"));
    } else if (direction === "previous"){
      id = parseInt($(".js-previous").attr("data-id"));
    }

    if (id === 0){
      alert("No more players that way!");
      return;
    }
    
    $.get("/players/" + id + ".json", function(data) {
      $(".js-next").attr("data-id", data.player.next_id);
      $(".js-previous").attr("data-id", data.player.prev_id);

      // Set top information
      $("h1").text(data.player.name + '(' + data.player.position + ')');
      $("h3").text('Score: ' + data.player.score);
      $("#salary").text('Salary: $' + data.player.salary.toLocaleString());
      $("#value").text('Score Per Million: ' + data.player.value);

      if(data.player.team_count === 1){
        $("#team_count").text('Num of Teams: ' + data.player.team_count + " team");
      } else {
        $("#team_count").text('Num of Teams: ' + data.player.team_count + " teams");
      }

      // Set stats
      $("#points").text(data.player.points);
      $("#assists").text(data.player.assists);
      $("#rebounds").text(data.player.rebounds);
      $("#blocks").text(data.player.blocks);
      $("#steals").text(data.player.steals);
      $("#games_played").text(data.player.games_played);
    });
  }
</script>
