<h1>Check out some reports</h1>
<h3><%= link_to "Highest Scoring Players Report", highest_scoring_path %></h3>
<h3><%= link_to "Most Popular Players Report", popular_players_path %></h3>
<h3><%= link_to "Most Valuable Players Report", valuable_path %></h3>
<h3><%= link_to "Most Popular Leagues Report", popular_leagues_path %></h3>
<h3><%= link_to "Most Efficient Teams Report", efficient_path %></h3>