<!DOCTYPE html>
<html>
<head>
  <title>NbaFantasy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<header><%= render 'layouts/header' %></header>
<body>
    <% if notice %>
      <p class="alert alert-success">
        <%= notice %>
      </p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger">
        <%= alert %>
      </p>
    <% end %>

<%= yield %>

</body>
</html>

<script>
var source = "<p>Hello, my name is {{name}}. I am from {{hometown}}. I have " +
             "{{kids.length}} kids:</p>" +
             "<ul>{{#kids}}<li>{{name}} is {{age}}</li>{{/kids}}</ul>";
var template = Handlebars.compile(source);

var data = { "name": "Alan", "hometown": "Somewhere, TX",
             "kids": [{"name": "Jimmy", "age": "12"}, {"name": "Sally", "age": "4"}]};
var result = template(data);
</script>
